.navbar {
  font-size: 1.8rem;
  background-color: var(--color-grey-dark-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  @media screen and (max-width: $bp-medium) {
    font-size: 1.5rem;
  }
  &__brand {
    width: 20%;
    height: 100%;

    & a {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      text-decoration: none;
      color: rgba(235, 232, 232, 0.822);
      @media screen and (max-width: $bp-medium) {
        font-size: 2rem;
      }
    }
    & span {
    }
  }
  &__logo {
    height: 4rem;
  }
  &__menu {
    list-style: none;
    padding: 0 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
    & a {
      color: var(--color-grey-light-2);
      text-decoration: none;
    }

    @media screen and (min-width: $bp-medium) {
    }
  }
  &__menu &__item {
    margin-left: 5rem;
    &:last-of-type {
      margin-left: 2;
    }

    @media screen and (max-width: $bp-medium) {
      margin-left: 3rem;
    }
  }
  &__item {
    padding: 1rem 0.5rem;

    position: relative;
   &:hover{
    cursor: pointer;
   }
    & a {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 5px;
    }
  }
  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    transform: scaleX(0);
    transition: transform 0.4s, border 0.5s;
    transform-origin: left;
  }

  &__item:hover::before {
    width: 100%;
    border-bottom: 1px solid white;
    transform: scaleX(1);
  }
  &__item:nth-child(2):hover::before {
    border: none;
  }
  &__dropdown--menu {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 170%;
    border: 1px solid #ddd;
    z-index: 1111111;
    transition: all 0.2s;
    & li {
      display: block;
      background-color: var(--color-grey-light-3);
      cursor: pointer;
      padding: 0.5rem 1rem;
      & a {
        transition: all 0.2s;
        color: black;
      }
    }
  }
  &__item:hover &__dropdown--menu {
    display: block;
    & li:hover {
      background-color: var(--color-grey-dark-1);
    }
    & li:hover a {
      color: white;
    }
  }
  // &__dropdown--menu.open {
  //   display: block;
  // }
}
